/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:ital,wght@0,700;1,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 0rem 1.25rem;
  background-color: #1B2330;
}

nav img {
  height: 1.5rem;
}

nav a {
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 400;
  text-decoration: none;
  color: white;
  margin-right: 1.5rem;
}

nav li {
  display: inline;
}

header {
  padding: 3rem 2.1875rem 2.0625rem 2.25rem;
  background-color: #1B2330;
  color: white;
  text-align: center;
}

header img {
  max-width: 19rem;
}

header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-top: 2.0625rem;
}

header p {
  font-family: 'Open sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  margin-top: 1.375rem;
}

header button {
  margin-top: 2.125rem;
}

.features {
  padding: 0 1.6875rem;
  background-color: #1B2330;
  color: white;
  text-align: center;
}

.features .feature {
  margin-top: 6.125rem;
}

.features .feature h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-top: 1.3125rem;
}

.features .feature p {
  font-family: 'Open sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  margin-top: 0.875rem;
}

.team {
  margin-top: 10.125rem;
  padding: 0 9%;
  background-color: #1B2330;
  color: white;
}

.team img {
  max-width: 19.0625rem;
}

.team h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-top: 2.8125rem;
}

.team p {
  font-family: 'Open sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  margin-top: 1.375rem;
}

.team a {
  font-family: 'Open sans', sans-serif;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  font-weight: 400;
  display: block;
  border-bottom: 1px solid #63E1D9;
  text-decoration: none;
  width: 130px;
  height: 27px;
  color: #63E1D9;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.reviews {
  background-color: #1B2330;
  color: white;
  margin-top: 8.875rem;
  padding: 2.8125rem 13% 0 13%;
  background-image: url("../../images/bg-quotes.png");
  background-repeat: no-repeat;
  background-position: 13% top;
}

.reviews .review {
  margin-top: 1.5rem;
  padding: 1.5rem 1.25rem;
  background-color: #202A3C;
  box-shadow: 0px 0px 8px #3838380C;
  border-radius: 4px;
  display: grid;
  grid-template-areas: "para para para" "avatar h3 x" "avatar h4 x";
  row-gap: 0.1875rem;
  column-gap: 0.5rem;
}

.reviews .review p {
  font-family: 'Open sans', sans-serif;
  font-size: 0.625rem;
  line-height: 1.125rem;
  font-weight: 400;
  grid-area: para;
  margin-bottom: 1.125rem;
}

.reviews .review img {
  grid-area: avatar;
  width: 1.5rem;
  border-radius: 50%;
}

.reviews .review h3 {
  font-family: 'Open sans', sans-serif;
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-weight: 700;
  grid-area: h3;
}

.reviews .review h4 {
  font-family: 'Open sans', sans-serif;
  font-size: 0.4375rem;
  line-height: 0.625rem;
  font-weight: 400;
  grid-area: h4;
}

.sign-in {
  background-color: #1B2330;
  color: white;
  margin: 12.3125rem 5.33% 5.1875rem 5.33%;
  padding: 2.3125rem 2.375rem;
  text-align: center;
  background: #1B2330 0% 0% no-repeat padding-box;
  box-shadow: 5px 5px 8px #00000041;
  border-radius: 9px;
}

.sign-in h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.sign-in p {
  font-family: 'Open sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  margin-top: 1.375rem;
}

.sign-in form {
  margin-top: 2.125rem;
}

.btn {
  font-family: 'Raleway', sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 700;
  outline: none;
  border: none;
  color: white;
  text-align: center;
  width: 15rem;
  height: 3rem;
  background: transparent linear-gradient(111deg, #63E1D9 0%, #34A0CD 100%) 0% 0% no-repeat padding-box;
  box-shadow: 2px 3px 6px #00000029;
  border-radius: 24px;
}

.form-sign-in .email {
  font-family: 'Open sans', sans-serif;
  font-size: 0.625rem;
  line-height: 0.875rem;
  font-weight: 400;
  border: none;
  outline: none;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 3px #07043B28;
  border-radius: 24px;
  height: 3rem;
  width: 100%;
  text-indent: 1.8125rem;
}

.form-sign-in .email::placeholder {
  color: #C0C0C0;
}

.form-sign-in button {
  margin-top: 1.5rem;
  height: 3rem;
  width: 100%;
}

body {
  background-color: #1B2330;
}
/*# sourceMappingURL=main.css.map */