/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:ital,wght@0,700;1,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #1B2330;
}

@media screen and (min-width: 1000px) {
  main {
    margin: auto;
    max-width: 1500px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 0rem 1.25rem;
  background-color: #1B2330;
}

nav img {
  height: 1.5rem;
}

nav a {
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 400;
  text-decoration: none;
  color: white;
  margin-right: 1.5rem;
}

nav li {
  display: inline;
}

@media screen and (min-width: 800px) {
  nav {
    padding: 4.6075rem 5rem;
  }
  nav img {
    height: 3.19062rem;
  }
  nav a {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.1875rem;
    font-weight: 400;
  }
}

@media screen and (min-width: 1600px) {
  nav {
    padding: 0;
    padding-top: 5rem;
    max-width: 1440px;
    margin: 0 auto;
  }
}

header {
  margin-top: 3.00687rem;
  background-color: #1B2330;
  color: white;
  text-align: center;
}

header img {
  width: 19rem;
}

header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 2.0625rem;
}

header p {
  font-family: 'Open sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 1.375rem;
}

header button {
  margin: 0 auto;
  margin-top: 2.125rem;
}

@media screen and (min-width: 800px) {
  header img {
    width: 45rem;
  }
  header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    line-height: 3.75rem;
    font-weight: 700;
    margin-top: 2.25rem;
    max-width: 45.875rem;
  }
  header p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 400;
    margin-top: 2.8125rem;
    max-width: 37.5rem;
  }
}

.features {
  padding: 0 1.6875rem;
  background-color: #1B2330;
  color: white;
  text-align: center;
}

.features .feature {
  margin-top: 6.125rem;
}

.features .feature h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-top: 1.3125rem;
}

.features .feature p {
  font-family: 'Open sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 0.875rem;
  max-width: 25rem;
}

@media screen and (min-width: 800px) {
  .features img {
    width: 6.5rem;
  }
  .features .feature h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
    margin-top: 0.75rem;
  }
  .features .feature p {
    font-family: 'Open sans', sans-serif;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    margin-top: 0.75rem;
  }
}

@media screen and (min-width: 1000px) {
  .features {
    padding: 0;
    margin: 9.875rem auto 0 auto;
    max-width: 55rem;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 9.1875rem;
    row-gap: 5.0625rem;
  }
}

.team {
  margin-top: 10.125rem;
  padding: 0 9%;
  background-color: #1B2330;
  color: white;
}

.team img {
  width: 19.0625rem;
}

.team h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-top: 2.8125rem;
}

.team p {
  font-family: 'Open sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  margin-top: 1.375rem;
}

.team a {
  font-family: 'Open sans', sans-serif;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  font-weight: 400;
  display: block;
  border-bottom: 1px solid #63E1D9;
  text-decoration: none;
  width: 130px;
  height: 27px;
  color: #63E1D9;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
}

@media screen and (min-width: 800px) {
  .team {
    margin: 0 auto;
    padding: 0;
    margin-top: 8.71063rem;
    display: flex;
    justify-content: center;
  }
  .team img {
    width: 25rem;
  }
  .team .content-container {
    margin-right: 3.5775rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .team .content-container h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    line-height: 3.125rem;
    font-weight: 700;
    margin: 0;
  }
  .team .content-container p {
    font-family: 'Open sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
  .team .content-container a {
    font-family: 'Open sans', sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    width: 10.375rem;
  }
}

@media screen and (min-width: 1000px) {
  .team img {
    width: 38.4225rem;
  }
  .team .content-container {
    max-width: 35.1875rem;
  }
}

.reviews {
  background-color: #1B2330;
  color: white;
  margin-top: 8.875rem;
  padding: 2.8125rem 13% 0 13%;
  background-image: url("../../images/bg-quotes.png");
  background-repeat: no-repeat;
  background-position: 13% top;
}

.reviews .review {
  margin-top: 1.5rem;
  padding: 1.5rem 1.25rem;
  background-color: #202A3C;
  box-shadow: 0px 0px 8px #3838380C;
  border-radius: 4px;
  display: grid;
  grid-template-areas: "para para para" "avatar h3 x" "avatar h4 x";
  row-gap: 0.1875rem;
  column-gap: 0.5rem;
}

.reviews .review p {
  font-family: 'Open sans', sans-serif;
  font-size: 0.625rem;
  line-height: 1.125rem;
  font-weight: 400;
  grid-area: para;
  margin-bottom: 1.125rem;
}

.reviews .review img {
  grid-area: avatar;
  width: 1.5rem;
  border-radius: 50%;
}

.reviews .review h3 {
  font-family: 'Open sans', sans-serif;
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-weight: 700;
  grid-area: h3;
}

.reviews .review h4 {
  font-family: 'Open sans', sans-serif;
  font-size: 0.4375rem;
  line-height: 0.625rem;
  font-weight: 400;
  grid-area: h4;
}

@media screen and (min-width: 1000px) {
  .reviews {
    margin-top: 11.1875rem auto;
    display: flex;
    justify-content: center;
  }
  .reviews .review {
    margin-right: 2.5rem;
  }
  .reviews .review p {
    font-family: 'Open sans', sans-serif;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    font-weight: 400;
  }
}

.sign-in {
  background-color: #1B2330;
  color: white;
  margin: 12.3125rem 5.33% 5.1875rem 5.33%;
  padding: 2.3125rem 2.375rem;
  text-align: center;
  background: #1B2330 0% 0% no-repeat padding-box;
  box-shadow: 5px 5px 8px #00000041;
  border-radius: 9px;
}

.sign-in h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.sign-in p {
  font-family: 'Open sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  margin-top: 1.375rem;
}

.sign-in form {
  margin-top: 2.125rem;
}

footer {
  background-color: #1B2330;
  color: white;
  margin: 0 1.75rem;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .logo {
  height: 1.875rem;
}

footer .location {
  font-family: 'Open sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-top: 2.1875rem;
  padding-left: 1.6875rem;
  background-image: url("../images/icon-location.svg");
  background-repeat: no-repeat;
  background-position: left 0.3125rem;
}

footer .contact {
  font-family: 'Open sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-top: 0.875rem;
}

footer .contact .phone {
  padding-left: 1.6875rem;
  background-image: url("../images/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: left 0.3125rem;
}

footer .contact .email {
  margin-top: 1.3125rem;
  padding-left: 1.6875rem;
  background-image: url("../images/icon-email.svg");
  background-repeat: no-repeat;
  background-position: left 0.3125rem;
}

footer .links-about {
  font-family: 'Open sans', sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  margin-top: 2.1875rem;
}

footer .links-about li {
  margin-top: 1rem;
}

footer .links-legal {
  font-family: 'Open sans', sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  margin-top: 1.71875rem;
}

footer .links-legal li {
  margin-top: 1rem;
}

footer .social {
  margin-top: 3.8125rem;
  padding-bottom: 3.54562rem;
  text-align: center;
}

footer .social li {
  display: inline;
}

footer .social li img {
  height: 1.6875rem;
  margin-right: 0.67625rem;
}

.btn {
  font-family: 'Raleway', sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 700;
  outline: none;
  border: none;
  color: white;
  text-align: center;
  width: 15rem;
  height: 3rem;
  background: transparent linear-gradient(111deg, #63E1D9 0%, #34A0CD 100%) 0% 0% no-repeat padding-box;
  box-shadow: 2px 3px 6px #3838380C;
  border-radius: 24px;
}

@media screen and (min-width: 800px) {
  .btn {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.1875rem;
    font-weight: 700;
    width: 17.5rem;
    height: 3.5rem;
    border-radius: 28px;
  }
}

.form-sign-in .email {
  font-family: 'Open sans', sans-serif;
  font-size: 0.625rem;
  line-height: 0.875rem;
  font-weight: 400;
  border: none;
  outline: none;
  background: white 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 3px #3838380C;
  border-radius: 24px;
  height: 3rem;
  width: 100%;
  text-indent: 1.8125rem;
}

.form-sign-in .email::placeholder {
  color: #C0C0C0;
}

.form-sign-in button {
  margin-top: 1.5rem;
  height: 3rem;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */