@import 'abstracts/variables';
@import 'abstracts/function';
@import 'abstracts/mixins';

@import 'base/reset';
@import 'base/typography';

@import 'layout/navigation';
@import 'layout/header';
@import 'layout/features';
@import 'layout/team-section';

@import 'components/buttons';

body {
    background-color: $main-background-color;
}

img {
    display: none;
}

nav,
header,
.features,
.team {
    img {
        display: inline;
    }
}

