body {
    background-color: $main-background-color;
}

a {
    &:hover {
        color: $highlight-color-one;
    }
}

@include media-lg {
    main {
        margin: auto;
        max-width: 1500px;
    }
}