body {
    background-color: $main-background-color;

    a {
        text-decoration: none;
        color: white;
        &:hover {
            color: $highlight-color-one;
        }
    }
}



@include media-lg {
    main {
        margin: auto;
        max-width: 1500px;
    }
}