nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: toRem(24) toRem(24) toRem(0) toRem(20);

    background-color: $nav-background;

    img {
        height: toRem(24);
    }

    a {
        @include raleway(12, 14, 400);
        text-decoration: none;
        color: $nav-link-color;
        margin-right: toRem(24);
    }

    li {
        display: inline;
    }
}

@include media-md {
    nav {
        padding: toRem(73.72) toRem(80);

        img {
            height: toRem(51.05);
        }

        a {
            @include raleway(16, 19, 400);
        }
    }
}

@include media-xl {
    nav {
        padding: 0;
        padding-top: toRem(80);
        max-width: 1440px;
        margin: 0 auto;
    }
}