.reviews {
    background-color: $main-background-color;
    color: $card-text-color;
    margin-top: toRem(142);
    padding: toRem(45) 13% 0 13%;
    background-image: url('../../images/bg-quotes.png');
    background-repeat: no-repeat;
    background-position: 13% top;

    

    .review {
        margin-top: toRem(24);
        padding: toRem(24) toRem(20);
        background-color: $card-bg-color;
        box-shadow: 0px 0px 8px $shadow-color;
        border-radius: 4px;
        display: grid;
        grid-template-areas: "para para para" "avatar h3 x" "avatar h4 x";
        row-gap: toRem(3);
        column-gap: toRem(8);

        p {
            @include open-sans(10, 18, 400);
            grid-area: para;
            margin-bottom: toRem(18);
        }
        
        img {
            grid-area: avatar;
            width: toRem(24);
            border-radius: 50%;
        }
        h3 {
            @include open-sans(10, 12, 700);
            grid-area: h3;
                
        }
        h4 {
            @include open-sans(7, 10, 400);
            grid-area: h4;    
        }
    }
    @include media-lg {
        margin-top: toRem(179) auto;
        display: flex;
        justify-content: center;

        .review {
            margin-right: toRem(40);
            
            p {
                @include open-sans(14, 21, 400)
            }
        }
    }
    
}