.sign-in {
    background-color: $main-background-color;
    color: $main-text-color;
    margin: toRem(197) 5.33% toRem(83) 5.33%;
    padding: toRem(37) toRem(38);
    text-align: center;

    background: $very-dark-blue 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 8px #00000041;
    border-radius: 9px;

    h3 {
       @include raleway (18, 24, 700); 
    }

    p {
        @include open-sans(14, 21, 400);
        margin-top: toRem(22);
    }

    form {
        margin-top: toRem(34);
    }

    @include media-md {
        margin: toRem(201) auto 0 auto;
        padding: toRem(37) toRem(77);
        max-width: toRem(863);

        h2 {
            @include raleway(32, 48, 700);
        }

        p {
            @include open-sans(14, 21, 400);
            margin-top: toRem(32);
        }
        
        form {
            margin-top: toRem(40);
        }
    }
}