.team {
    margin-top: toRem(162);
    padding: 0 9%;
    background-color: $main-background-color;
    color: $main-text-color;

    img {
        width: toRem(305);
    }

    h2 {
        @include raleway(18, 24, 700);
        margin-top: toRem(45);
    }

    p {
        @include open-sans(14, 21, 400);
        margin-top: toRem(22);
    }

    a {
        @include open-sans(12, 17, 400);
        display: block;
        border-bottom: 1px solid $highlight-color-one;
        text-decoration: none;
        width: 130px;
        height: 27px;
        color: $highlight-color-one;
        background-image: url('../images/icon-arrow.svg');
        background-repeat: no-repeat;
        background-position: right;
    }

    @include media-md {
        margin: 0 auto;
        padding: 0;
        margin-top: toRem(139.37);
        display: flex;
        justify-content: center;

        img {
            width: toRem(400);
        }

        .content-container {
            margin-right: toRem(57.24); 
            max-width: toRem(400);
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                @include raleway(40, 50, 700);
                margin: 0;
            }

            p {
                @include open-sans(16, 24, 400);
            }

            a {
                @include open-sans(16,22, 400);
                width: toRem(166);
            }
        }
    }

    @include media-lg {
        img {
            width: toRem(614.76);
        }

        .content-container {
            max-width: toRem(563);
        }
    }
}

