@mixin raleway ($size, $line-height, $weight) {
    font-family: 'Raleway', sans-serif;
    font-size: toRem($size);
    line-height: toRem($line-height);
    font-weight: $weight;
}

@mixin open-sans ($size, $line-height, $weight) {
    font-family: 'Open sans', sans-serif;
    font-size: toRem($size);
    line-height: toRem($line-height);
    font-weight: $weight;
}