$aqau: #63E1D9;
$light-blue: #34A0CD;
$very-dark-blue: #1B2330;

$nav-link-color: white;
$nav-background: $very-dark-blue;

$header-background-color:$very-dark-blue;
$header-text-color: white;

$highlight-color-one: $aqau;
$highlight-color-two: $light-blue;